$font-title: 'Lobster', cursive;
$font-welcome: 'Montserrat', sans-serif;
$font-header: 'Fredoka One', cursive;
$font-text: 'Source Sans Pro', sans-serif;
$color-light: white;
$color-dark: black;
$color-additional: rgb(177, 247, 38);
$color-subheader: #535c68;
$background-two: #dfe6e9;

/* Global */

.title {
    font-family: $font-title;
    color: $color-additional;
    font-size: 25px;
}

.header {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.subheader {
    font-style: italic;
    font-family: $font-text;
    color: $color-subheader;
    margin-top: 0;
    padding-top: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    text-align: center;
    color: $color-dark;
    font-family: $font-text;
    font-size: 16px;
    line-height: 1.7;
    background-color: $color-light;
    width: 74%;
}

.row {
    padding: 30px 0;
}

/* Navigation */

nav {
    color: $color-light;
    padding-bottom: 40px;
    background-image: url(https://images.pexels.com/photos/1002634/pexels-photo-1002634.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;    
    position: relative;
    height: 78vh;

    ul {
        text-transform: uppercase;
        li {
            float: left;
            margin-right: 50px;
            list-style-type: none;
        }
        .nav-link {
            color: $color-light;
        }
    }

    .welcome {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: auto;
        right: auto;

        .welcome-header {
            font-family: $font-welcome;
            font-style: italic;
            font-size: 34px;
        }

        .welcome-text {
            font-family: $font-header;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 900;
            font-size: 40px;
        }

        .button {
            display: inline-block;
            min-width: 200px;
            background-color: $color-additional;
            margin: 24px auto 0 auto;
            padding: 16px;
            border-radius: 5px;
            font-family: $font-text;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

/* Services */

.services {
    padding: 100px 0;

    p {
        color: $color-subheader
    }

    .fas {
        color: $color-additional;
        font-size: 45px;
        width: 70px;
        height: 70px;
        vertical-align: middle;
        padding: 10px;
        border: 2px solid $color-additional;
        border-radius: 50%;
        display: inline-block;
    }
    
}